<h2>hello</h2>

<form method= "POST" action="/celebrities/create" >

  <input type="text"  name="name" placeholder="celebrity name" />
  <input type="text" name="occupation" placeholder="celebrity occupation"/>
  <input type="text" name="catchPhrase" placeholder=" celebrity catch phrase" />

  <button type= Submit> Submit </button>
</form>