<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<div><a href="celebrities/create"> Add a celebrity ! </a></div>
<div><a href="celebrities/"> View all Celebrities </a></div>
<div><a href="movies/"> View all Movies </a></div>
<div><a href="movies/create"> Add a movie ! </a></div>